<div class="jumbotron">
    <div class="container">
        <h1>Facebook on Rails</h1>
        <p>
        Welcome one and all
        </p>

        <div class="progress">
            <div class="progress-bar" style="width: 40%;"></div>
            <div class="progress-bar progress-bar-warning" style="width: 10%;"></div>
            <div class="progress-bar progress-bar-danger" style="width: 10%;"></div>
            <div class="progress-bar progress-bar-success" style="width: 10%;"></div>
            <div class="progress-bar progress-bar-info" style="width: 30%;"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>How it all works</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Connect with Facebook</h2>
            <p>Signup or Login with your Facebook Account</p>
        </div>
        <div class="col-md-4">
            <h2>Create your own fun posts</h2>
            <p>Start posting fun content now.</p>
        </div>
        <div class="col-md-4">
            <h2>Share</h2>
            <p>Signup or Login with your Facebook Account</p>
        </div>
    </div>
</div>
